body{
    text-align: center;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 10px;
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
