section.get-in-touch{
  background: $color-grey1;
  color: white;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left{
    .fa{
      font-size: 32px;
      margin-right: 41px;
    }
  }
  .center{
    margin: 20px 0;
    h2{
      font-size: 32px;
    }
    img{
      margin-bottom: 20px;
      width: 50px;
    }
  }
  .right{
    p{
      font-size: 14px;
      margin-right: 100px;
    }
  }
}